<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <app-logo></app-logo>

        <ion-label>03335534151</ion-label>
      </ion-card>
      <ion-list>
        <ion-item *ngFor="let p of pages">
          <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
          <ion-label [routerLink]="p.url">{{p.title | uppercase}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title>Home</ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!--   <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button> -->
      <ion-router-outlet id="content" main></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
