<ion-content>
  <div class="center">
    <app-logo></app-logo>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <!-- <ion-icon name="settings" slot="start" color="primary"></ion-icon> -->
        <ion-label color="primary">Select Reason</ion-label>
        <ion-select >
          <ion-select-option
            *ngFor="let language of languages"
            [value]="language"
            >{{language}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" name=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="text" name=""></ion-input>
      </ion-item>
<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
      <ion-button
        expand="block"
        color="secondary"
        (click)="doLogin()"
        >Sign In</ion-button
      >

      
    </ion-list>
  </form>
</ion-content>
