<ion-header>
  <ion-toolbar>
    <ion-title>username</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
  <div> <h2>Change Your Username</h2> </div>
  </div>
  <ion-list>
    <ion-item>
        <ion-label position="stacked">Username صارف کا نام</ion-label>
        <ion-input type="text" name="" value="javed"></ion-input>
      </ion-item>
      <ion-footer><ion-button
        expand="block"
        color="secondary"
        (click)="doLogin()"
        >Update</ion-button
      ></ion-footer>
     
  </ion-list>
</ion-content>
